[submodule "omz-plugins/fzf-tab"]
	path = omz/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "omz-plugins/zsh-completions"]
	path = omz/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "omz-plugins/zsh-autosuggestions"]
	path = omz/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "omz-plugins/zsh-syntax-highlighting"]
	path = omz/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "navi-cheats/denisidoro__cheats"]
	path = navi/cheats/denisidoro__cheats
	url = https://github.com/denisidoro/cheats.git
[submodule "navi-cheats/denisidoro__navi-tldr-pages"]
	path = navi/cheats/denisidoro__navi-tldr-pages
	url = https://github.com/denisidoro/navi-tldr-pages.git
